<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.personalrssfeed.draghicistefan.rssauce"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/rss"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.personalrssfeed.draghicistefan.rssauce.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.personalrssfeed.draghicistefan.rssauce.AddFeedActivity"
            android:label="@string/title_activity_add_feed"
            android:parentActivityName="com.personalrssfeed.draghicistefan.rssauce.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.personalrssfeed.draghicistefan.rssauce.MainActivity"/>
        </activity>
        <activity
            android:name="com.personalrssfeed.draghicistefan.rssauce.EditRssFeedActivity"
            android:label="@string/title_activity_edit_rss_feed"
            android:parentActivityName="com.personalrssfeed.draghicistefan.rssauce.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.personalrssfeed.draghicistefan.rssauce.MainActivity"/>
        </activity>
        <activity
            android:name="com.personalrssfeed.draghicistefan.rssauce.RssItemViewActivity"
            android:label="@string/title_activity_rss_item_view"
            android:parentActivityName="com.personalrssfeed.draghicistefan.rssauce.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.personalrssfeed.draghicistefan.rssauce.MainActivity"/>
        </activity>
    </application>

</manifest>
